
.footer {
    position: relative;
    width: 100%;
    border-top: 1px solid #dedede;
}

.footBnImg {
    width: 100%;
}

.footBnImg .Footer_Main {
    width: 980px;
    margin: 0 auto;
}

.ads_banner{
    width: 980px;
    margin: 20px auto 0;
}

.footer .footInner {
    width: 980px;
    margin: 0 auto;
    padding: 30px 0 20px;
}

.footer .footer_logo {
    float: left;
}

.footer .footer_tit:after {
    content: '';
    display: block;
    clear: both;
}

.footer .company_info {
    margin: 3px 0;
    overflow: hidden;
    color: #666;
    font-size: 12px;
    line-height: 18px;
    background-repeat: no-repeat;
    background-position: 830px 15px;
}